category-article-thumbnail{

    &:after {content: "";display: table;clear: both;}
    display: table;
    margin-bottom: 10px;
    width: 100%;
    
    .title{
        font-size: map-get($dimensions, category-thumbnail-font-size); 
    }
    .thumbnail{
        float:left;
        width: 20%;
        margin-right: 10px;
    }       
} 