<navbar-component [title]="'Viver Mais e Melhor'"></navbar-component>

<ion-content padding overflow-scroll="true">
    <article-container 
        [article]="article$ | async"
        (onAddFavorite)="addFavorite($event)"
        (onRemoveFavorite)="removeFavorite($event)"        
        [isFavorite]="isFavorite$ | async">

    </article-container>
</ion-content>