<ion-item-sliding>
    <ion-item (tap)="goToArticle()">
    <div class="thumbnail">
    <picture>
        <!-- Conditionally wrap <source> elements in <video> tags which will then make them visible to IE9. -->
        <!--[if IE 9]><video style="display:none;"><![endif]-->
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=320&amp;H=160&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:1261px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=270&amp;H=135&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:961px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=290&amp;H=145&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:641px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=140&amp;H=105&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:321px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=72&amp;H=54&amp;delay_optim=1&amp;tv=1&amp;crop=center'">
        <!--[if IE 9]></video><![endif]-->
        <img src="'http://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&H=70&W=70&crop=center'">
    </picture> 
    </div>    
    <div class="details">
        <h6 class="title" [innerHTML]="article.title"></h6>
    </div>
    </ion-item>
    <ion-item-options side="right">
        <button ion-button color="danger" (click)="removeFavorite()">
            <ion-icon name='ios-trash'></ion-icon>
        </button>
    </ion-item-options>
</ion-item-sliding>