favorite-article{ 
    &:after {content: "";display: table;clear: both;}
    display: table;
    margin-bottom: 10px;
    width: 100%;
    
    .details{
        padding-left:10px;
        float: left;
        font-size: map-get($dimensions, category-thumbnail-font-size); 
        white-space: normal;
        max-width: 80%;        
    }
    .thumbnail{
        float:left;
        max-width: 20%;
    }               
} 