<navbar-component [title]="'Viver Mais e Melhor'"></navbar-component>

<ion-content padding>
    <home-container 
        [articles]="feed$ | async"
        [category]="category$ | async"
        [loading]="loading$ | async"
        [loaded]="loaded$ | async"
        (onClickArticle)="openArticle($event)"
        (onRemoveFavorite)="removeFavorite($event)"
        (onInfiniteScroll)="loadNextArticles($event)">
    </home-container>

    <error-component *ngIf="error$ | async" [message]="error$ | async">
    </error-component>
</ion-content>
