<search-component
    [isMenuOpened]="isMenuOpened$ | async"
    (onSearchEnter)="search($event)"></search-component>

<ion-list>
    <ion-item (click)="getHomeCategory()" class="category-inicio-font-color">Inicio</ion-item>
    <ion-item (click)="getAlergiasCategory()" class="category-alergias-font-color">Alergias</ion-item>
    <ion-item (click)="getSaudeCategory()" class="category-saude-oral-font-color">Saúde Oral</ion-item>
    <ion-item (click)="getDoresCategory()" class="category-dores-font-color">Dores</ion-item>
    <ion-item (click)="getProblemasCategory()" class="category-problemas-respiratorios-font-color">Problemas Respiratórios</ion-item>
    <ion-item (click)="getPeleCategory()" class="category-pele-font-color">Pele</ion-item>
    <ion-item (click)="getFavorites()">Favoritos</ion-item>
</ion-list>