<ion-menu (ionOpen)="menuOpen()" (ionClose)="menuClose()" side="right" [content]="mycontent">
  <ion-content>
    <menu-component></menu-component>
    <!--<div></div>-->
  </ion-content>
</ion-menu>

<ion-nav #mycontent [root]="rootPage"></ion-nav>
