// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

// VARIAVEIS
$colors: (
    saude-oral: rgba(44,171,203,0.9),
    dores: #f10d0d,
    alergias: #a71c87,
    problemas-respiratorios:#73b666,
    pele:#e68d0e,
    tags-font: #ffffff,
    menu-color: gray
);

$dimensions: (
    navbar: 5vh,
    article-font-size: 1.3rem,
    category-thumbnail-font-size: 1.6rem,
    article-title-font-size: 2rem,
    article-line-height: 1.7rem,
);

$category-background-image: (
    saude-oral: 'http://mb.web.sapo.io/fc9bd647cc8f3bfed315557ed66b4835b26622f5.jpg',
    dores: 'http://mb.web.sapo.io/bd8054560b6eec3b503bfd59414eded35263f1ac.jpg',
    alergias: 'http://mb.web.sapo.io/cacf4e68e81d0c32aa536ee5c2a87ba931267dba.jpg',
    problemas-respiratorios:'http://mb.web.sapo.io/ed830b4c359c0e482c024618d3d2b5d1618a4e68.jpg',
    pele:'http://mb.web.sapo.io/9c14f4ae39632777664f5859140e98897b6c1c23.jpg'
);

// MIXINS
%category{
    display: inline-block;
    padding:5px;
    text-transform: uppercase;
    font-size:1em;
    font-weight: bold;
    color:map-get($colors, tags-font);   
}

%article-font{
    font-family: Roboto,Arial,Helvetica,sans-serif;
    font-size: map-get($dimensions, article-font-size); 
    line-height: map-get($dimensions, article-line-height);     
}

// CLASSES GLOBAIS
ion-content, .scroll-content, .fixed-content{
    top: 3vh;
    margin-bottom: map-get($dimensions, navbar);
}

h1{
    font-size: map-get($dimensions, article-title-font-size);  
}


// CATEGORY TAG BACKGROUND-COLORS
.category-saude-oral{ 
    @extend %category; 
    background-color:map-get($colors, saude-oral); 
} 
 
.category-dores{ 
    @extend %category; 
    background-color:map-get($colors, dores); 
} 
 
.category-pele{ 
    @extend %category; 
    background-color:map-get($colors, pele); 
} 
 
.category-alergias{ 
    @extend %category; 
    background-color:map-get($colors, alergias); 
} 
 
.category-problemas-respiratorios{ 
    @extend %category; 
    background-color:map-get($colors, problemas-respiratorios); 
}


// CATEGORY TAG FONTS
.category-saude-oral-font-color{      
    color:map-get($colors, saude-oral); 
} 
 
.category-dores-font-color{ 
    color:map-get($colors, dores); 
} 
 
.category-pele-font-color{     
    color:map-get($colors, pele); 
} 
 
.category-alergias-font-color{      
    color:map-get($colors, alergias); 
} 
 
.category-problemas-respiratorios-font-color{      
    color:map-get($colors, problemas-respiratorios); 
}


.video-wrapper{
    padding-top: 56.25%;
    height: 0;
    position: relative;    

    iframe{
        position: absolute;
        top:0;
        left:0;
        width:100%;
        height:100%;
    }
}

