article-thumbnail{ 
    @extend %article-font;
    display: block;
    margin-top:2em;
    // &>div{ 
    //     .title{ 
    //         font-size: 2em; 
             
    //     } 
             
    //     .thumbnail{ 
    //         // width: 100px; 
    //         // height: 100px; 
    //     }         
 
    // } 
} 
