<div class="thumbnail">
    <picture>
        <!-- Conditionally wrap <source> elements in <video> tags which will then make them visible to IE9. -->
        <!--[if IE 9]><video style="display:none;"><![endif]-->
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=1440&amp;H=500&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:1261px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=1200&amp;H=400&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:961px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=960&amp;H=480&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:641px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=640&amp;H=320&amp;delay_optim=1&amp;tv=1&amp;crop=center'" media="(min-width:321px)">
        <source [srcset]="'https://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&amp;W=320&amp;H=160&amp;delay_optim=1&amp;tv=1&amp;crop=center'">
        <!--[if IE 9]></video><![endif]-->
        <img src="'http://thumbs.web.sapo.io/?pic='+article.thumbnail.url+'&H=1440&W=500&crop=center'">
    </picture>  
</div>
<span 
    class="category-{{article.categories[0].slug}}" 
    [innerHTML]="article.categories[0].name"></span>
        
<h1 class="title" (tap)="goToArticle(article)" [innerHTML]="article.title">
</h1>
<p class="excerpt" [innerHTML]="article.excerpt">
</p>