%category-background-image{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    width: 100%;
    padding: 1.3em;
    font-size: 2em; 
    text-align: center;
    text-transform: capitalize;
    color: map-get($colors, tags-font);  
    text-shadow: 0px 0px 4px #000000;
    margin:0 1em 1em 0;
}

// CATEGORY TAG BACKGROUND IMAGES
.category-saude-oral-image{ 
    @extend %category-background-image; 
    background-image:url(map-get($category-background-image, saude-oral)); 
} 
 
.category-dores-image{ 
    @extend %category-background-image; 
    background-image:url(map-get($category-background-image, dores)); 
} 
 
.category-pele-image{ 
    @extend %category-background-image; 
    background-image:url(map-get($category-background-image, pele)); 
} 
 
.category-alergias-image{ 
    @extend %category-background-image; 
    background-image:url(map-get($category-background-image, alergias)); 
} 

.category-favoritos-image{ 
    @extend %category-background-image; 
    background: #fff;
} 
 
.category-problemas-respiratorios-image{ 
    @extend %category-background-image; 
    background-image: url(map-get($category-background-image, problemas-respiratorios)); 
}

home-container{
    display: block;
    padding-top:2rem;
}