<!--<ion-list
    [virtualScroll]="articles"
    approxItemHeight="100px">

    <div *virtualItem="let article">
        
        <p>{{article.title}}</p>
        <article-thumbnail 
        [article]="article" 
        (onClickArticle)="clickArticle($event)">
        </article-thumbnail>
    </div>


</ion-list>-->

<!--<ion-list [virtualScroll]="testArray" approxItemHeight="'100px'">
    <ion-item *virtualItem="let test">
        {{article.title}}
    </ion-item>
</ion-list>-->
<ion-spinner *ngIf="loading"></ion-spinner>
<div [ngSwitch]="category">
    <ng-container *ngSwitchCase="'home'">
        <ng-container *ngIf="articles?.length && loaded;">
            <home-article-thumbnail
                [article]="article" 
                *ngFor="let article of articles"
                (tap)="goToArticle(article)">
            </home-article-thumbnail>
        </ng-container>
        <error-component 
            *ngIf="(error && loaded) || (!articles?.length && loaded)" 
            [message]="errorMessage"></error-component>     
    </ng-container>


    <ng-container *ngSwitchCase="'favoritos'">
        <div class="category-{{category}}-image" [innerHTML]="category | category"></div>
        <ng-container *ngIf="articles?.length; else nofavorites">
            <ion-list>
                <favorite-article 
                    [article]="article" 
                    (onClickArticle)="goToArticle($event)"
                    (onRemoveFavorite)="removeFavorite($event)"
                    *ngFor="let article of articles">
                </favorite-article>  
            </ion-list>
        </ng-container>
        <ng-template #nofavorites>
            <error-component [message]="noFavoritesMessage"></error-component>
        </ng-template>
    </ng-container>

    <ng-container *ngSwitchDefault>
        <div class="category-{{category}}-image" [innerHTML]="category | category"></div>
        <ng-container *ngIf="articles?.length && loaded; else errorfeed">
            <category-article-thumbnail 
                [article]="article" 
                *ngFor="let article of articles"
                (tap)="goToArticle(article)">
            </category-article-thumbnail>
        </ng-container>
        <error-component 
            *ngIf="(error && loaded) || (!articles?.length && loaded)" 
            [message]="errorMessage"></error-component>               
    </ng-container>     
</div>

<!--<ng-container *ngIf="!category;else articlecategory">
    <article-thumbnail
        [article]="article" 
        *ngFor="let article of articles"
        (tap)="goToArticle(article)">
    </article-thumbnail>
</ng-container>

<ng-template #articlecategory>
    <div class="category-{{category}}-image" [innerHTML]="category | category"></div>
    <category-article-thumbnail 
        [article]="article" 
        *ngFor="let article of articles"
        (tap)="goToArticle(article)">
    </category-article-thumbnail>  
</ng-template>-->

 <ion-infinite-scroll [threshold]="'30%'" (ionInfinite)="doInfinite($event)">
   <ion-infinite-scroll-content></ion-infinite-scroll-content>
 </ion-infinite-scroll>