article-container{
    @extend %article-font;
    margin-top:2em;
    display: block;
    height:100%;
    .header{
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        padding:1em 0em;
        .category{
            text-transform: capitalize;
            margin-left:0.5em;
        }      
    }
    .favorite{
        float: right;
    }

    .excerpt{
        margin-top:1.5em;
    }

    .content{
        height:100%;
        p{
            iframe{
                width:100%;
            }            
        }    
    }
}