<ng-container *ngIf="article; else errordiv">
    <div>
        <h1 [innerHTML]="article.title"></h1>
    </div>

    <div class="header">
        <span class="date" [innerHTML]="article.update_date | portugueseMonth"></span>
        <span class="category category-{{article.categories[0].slug}}-font-color" 
        [innerHTML]="article.categories[0].slug"></span>
        <favorite-component 
            (onAddFavorite)="addFavorite()"
            (onRemoveFavorite)="removeFavorite()"
            [isFavorite]="isFavorite">

        </favorite-component>
    </div>
    <div class="excerpt" [innerHTML]="sanitizedExcerptHTML"></div>

    <!--<div class="content" [innerHTML]="sanitizedContentHTML"></div>-->
    <div class="content" #content></div>

</ng-container>

<ng-template #errordiv>
    <error-component [message]="'Erro ao abrir artigo'"></error-component>
</ng-template>