<span *ngIf="!isFavorite; else favorite" 
    (click)="addFavorite()"
    class="favorite">
    <ion-icon name="star-outline"></ion-icon>
</span>
<ng-template #favorite>
    <span class="favorite" (click)="removeFavorite()">
        <ion-icon name="star"></ion-icon>
    </span>
</ng-template>